* { box-sizing: border-box }

.top-bar {
  height: 34px;
  text-align: right;
}

form.new {
  width: 400px;
  margin: auto;
  text-align: right;
}
form.new input,
form.new textarea {
  width: 100%;
  font-family: monospace;
  padding: 3px;
}
form.new textarea { height: 123px; }
form.new button { font-size: 1.2em; }

.login-dialog {
  left: 50%;
  width: 700px;
  text-align: center;
  position: fixed;
  margin-left: -350px;
  z-index: 3;
  background: aliceblue;
  padding: 20px;
  border-radius: 6px;
  border: 2px solid brown;
}
.login-dialog input,
.login-dialog button { font-size: 1.3em }

.scraps {}
.scraps footer {
  font-family: ubuntu, verdana, sans-serif;
  padding: 20px;
}
.scraps footer a { color: black; }
.scrap {
  padding: 12px 4px;
  border-bottom: 1px dotted gray;
  font-family: verdana, ubuntu, sans-serif;
  font-size: 0.9em;
}
.scrap:first-child {
  border-top: 1px dotted gray;
  margin-top: 10px;
}
.scrap.deleted {
  background-color: #EED63D;
  padding: 2px;
}

.scrap.not-verified {
  background-color: rgba(255, 192, 81, 0.35);
  opacity: 0.35;
}
.scrap .click-to-verify { color: #BD8D26 }
.scrap .click-to-delete { color: #BD2626 }
.scrap a {
  font-weight: bold;
  color: rgb(64, 107, 53);
  text-decoration: none;
}
.scrap time {
  font-size: 0.8em;
  float: right;
  color: #456;
}
